*{
  margin: 0;
  padding: 0;
}

.App{
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  border: 3px solid black;
  padding: 3rem;
}

.question{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  gap: 1rem;
}

.statement{
  font-size: 2rem;
  font-weight: 500;
  display: inline-block;
  flex-basis: 85%;
  flex-grow: 1;
}


.difficulty{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.easy{
  background-color: green;
}

.medium{
  background-color: orange;
}

.hard{
  background-color: red;
}

.options{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.option{
  flex-basis: 100%;
  display: flex;
  gap: 0.5rem;
}

.option-input{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  align-self: flex-end;
  border: 1px solid black;
}

.option-label{
  font-size: 1.5rem;
  align-self: flex-end;
}

.lifelines, .handlers{
  display: flex;
  gap: 2rem;
}

.lifeline, .handler{
  padding: 0.5rem;
  min-width: 8rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.lifeline{
  background-color: green;
}

.handler{
  background-color: red;
}